 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$darkblack: #323232;
$lightblack: #424242;
$deepblue: #002855;

$bid: #2b908f;
$ask: #90ee7e;
$last: #f45b5b;
$green: #90ee7e;
$red: #f45b5b;

$mobile: new-breakpoint(max-width 500px 4);

@mixin border {
  border: solid 1px white;
}

body {
  background-color: $darkblack;
}

li {
  display: inline;
}

#hero-unit {
  width: 100%;
  #header_container {
    width: 100%;
    background-color: $darkblack;
    @include border;
    header {
      @include outer-container;
      height: 50px;
      background-color: $darkblack;
      @include border;
      text-align: center;
      color: white;
      .head_left {
        float: left;
      }
      .head_center {
        float: left;
      }
      .head_right {
        float: right;
        width: 400px;
        @include border;
        .header_p {
          float: right;
        }
        .userfield {
          float: right;
        }
        .logout {
          float: right;
        }
      }
    }
  }
  #alertspace_container {
    display: none;
    width: 100%;
    background-color: $lightblack;
    @include border;
    #alertspace {
      @include outer-container;
      min-height: 175px;
      background-color: $lightblack;
      @include border;
    }
  }
}

#main {
  width: 100%;
  background-color: $lightblack;
  @include border;
  .btc_container {
    @include outer-container;
    $mobile: new-breakpoint(max-width 500px 4);
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    .btc_chart {
      @include span-columns(8);
      height: 350px; 
      @include border; 
      @include media($mobile) {
        display: none;
      }
    }
    .btc_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
      }
      .btc_info {
        @include span-columns(12);
        height: 25px;
        text-align: center;
        border-bottom: solid 1px white;
      }
      #btc_bid_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #btc_bid_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_bid_color {
          @include span-columns(1);
          @include border;
          height: 300px;
        }
        #btc_bid_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #btc_ask_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #btc_ask_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_ask_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #btc_ask_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #btc_last_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #btc_last_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_last_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #btc_last_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
  .doge_container {
    @include outer-container;
    $mobile: new-breakpoint(max-width 500px 4);
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    .doge_chart {
      @include span-columns(8);
      height: 350px; 
      @include border;
      @include media($mobile) {
        display: none;
      }
    }
    .doge_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
        text-align: center;
      }
      .doge_info {
        @include span-columns(12);
        height: 25px;
        text-align: center;
        border-bottom: solid 1px white;
      }
      #doge_bid_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #doge_bid_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_bid_color {
          @include span-columns(1);
          @include border;
          height: 300px;
        }
        #doge_bid_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #doge_ask_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #doge_ask_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_ask_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #doge_ask_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #doge_last_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #doge_last_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_last_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #doge_last_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
  .ltc_container {
    @include outer-container;
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    .ltc_chart {
      @include span-columns(8);
      height: 350px; 
      @include border;
      @include media($mobile) {
        display: none;
      }
    }
    .ltc_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
      }
      .ltc_info {
        @include span-columns(12);
        height: 25px;
        text-align: center;
        border-bottom: solid 1px white;
      }
      #ltc_bid_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #ltc_bid_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_bid_color {
          @include span-columns(1);
          @include border;
          height: 300px;
        }
        #ltc_bid_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #ltc_ask_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #ltc_ask_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_ask_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #ltc_ask_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #ltc_last_action {
        @include span-columns(4);
        @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #ltc_last_title {
          @include span-columns(12);
          border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_last_color {
          @include span-columns(1);
          @include border; 
          height: 300px;
        }
        #ltc_last_action_container {
          @include span-columns(11);
          @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
}

.login_container {
  width: 100%;
  min-height: 1000px;
  // background: url(../images/landscape1.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  #login_outer_shell {
    width: 400px;
    // height: 700px;
    margin: 0 auto;
    padding-top: 200px; 
    #login_inner_shell {
      width: 330px;
      // height: 485px;
      margin: 0 auto;
      padding: 35px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .2);
      // .co_name{
      // font-weight: bold;
      // font-size: 40px;
      // }
    }
  }
}

#footer_container {
  width: 100%;
  background-color: $darkblack;
  @include border;
  footer {
    @include outer-container;
    min-height: 75px;
    background-color: $darkblack;
    @include border;
  }
}

.value_feed {
  display: block;
}
 .value_color_green {
    background-color: $green;
  }

.value_color_red {
  background-color: $red;
}

