 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$darkblack: #323232;
$lightblack: #424242;
$deepblue: #002855;

$mobile: new-breakpoint(max-width 500px 4);

@mixin border {
  border: solid 1px white;
}

body {
  background-color: $darkblack;
}

#hero-unit {
  width: 100%;
  #header_container {
    width: 100%;
    background-color: $darkblack;
    @include border;
    header {
      @include outer-container;
      min-height: 75px;
      background-color: $darkblack;
      @include border;
    }
  }
  #alertspace_container {
    width: 100%;
    background-color: $lightblack;
    @include border;
    #alertspace {
      @include outer-container;
      min-height: 175px;
      background-color: $lightblack;
      @include border;
    }
  }
}

#charts_container {
  width: 100%;
  background-color: $lightblack;
  @include border;
  #btc_container {
    @include outer-container;
    $mobile: new-breakpoint(max-width 500px 4);
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    #btc_chart {
      @include span-columns(7);
      height: 250px; 
      @include border; 
      background-color: $deepblue;
      @include media($mobile) {
        display: none;
      }
    }
    #btc_feed {
      @include span-columns(5);
      height: 250px; 
      @include border;
      background-color: $deepblue;
      @include media($mobile) {
        @include span-columns(12); 
      }
    }
  }
  #doge_container {
    @include outer-container;
    $mobile: new-breakpoint(max-width 500px 4);
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    #doge_chart {
      @include span-columns(7);
      height: 250px; 
      @include border; 
      background-color: $deepblue;
      @include media($mobile) {
        display: none;
      }
    }
    #doge_feed {
      @include span-columns(5);
      height: 250px; 
      @include border;
      background-color: $deepblue;
      @include media($mobile) {
        @include span-columns(12); 
      }
    }
  }
  #ltc_container {
    @include outer-container;
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border;
    #ltc_chart {
      @include span-columns(7);
      height: 250px; 
      @include border; 
      background-color: $deepblue;
      @include media($mobile) {
        display: none;
      }
    }
    #ltc_feed {
      @include span-columns(5);
      height: 250px; 
      @include border;
      background-color: $deepblue;
      @include media($mobile) {
        @include span-columns(12); 
      }
    }
  }
}

#footer_container {
  width: 100%;
  background-color: $darkblack;
  @include border;
  footer {
    @include outer-container;
    min-height: 75px;
    background-color: $darkblack;
    @include border;
  }
}


