 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$darkblack: #323232;
$lightblack: #424242;
$deepblue: #002855;

$bid: #2b908f;
$ask: #90ee7e;
$last: #f45b5b;
$green: #90ee7e;
$red: #f45b5b;
$purple: #857dc0; 
$lighterblue: #60A0B9;
$lightgrey: #9696A5;

$mobile: new-breakpoint(max-width 700px 4);

@mixin border {
  border: solid 1px white;
}

body {
  background-color: $darkblack;
}

li {
  display: inline;
}

#hero-unit {
  width: 100%;
  #header_container {
    width: 100%;
    background-color: $darkblack;
    border-bottom: solid 8px white;

    // @include border;
    header {
      @include outer-container;
      // @include border;
      background-color: $darkblack;
      #header_name {
        @include span-columns(8);
        // @include border;
        height: 65px;
        margin-top: 10px;
        .binos_header {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-color: white;
          float: left;
        }
        .header_name {
          color: white;
          font-size: 30px;
          font-family: Montserrat;
          float: left;
          margin-left: 10px;
        }
      }
      .head_right {
        @include span-columns(4);
        // @include border;
        height: 25px;
        margin-top: 18px;
        .userfield {
          color: white;
          float: right;
        }
        .logout {
          float: right;
          width: 80px;
          background: none;
          cursor: pointer;
          font-size: 16px;
          color: #fff;
          margin: 0px;
          padding: 0px;
          margin-top: 4px;
          margin-left: 9px;
          height: 17px;
          text-decoration: underline;
        }
      }
    }
    #head_one {
      @include outer-container;
      height: 50px;
      background-color: $darkblack;
      // @include border;
      text-align: center;
      color: white;
      .head_left {
        @include span-columns(12);
        // @include border;
        height: 50px;
        .alerts {
          float: right;
          background: none;
          cursor: pointer;
          font-size: 22px;
          font-family: Montserrat;
          color: white;
          margin: 10px;
          padding: 5px;
          margin-top: 16px;
          margin-left: 9px;
          border: none;
          text-decoration: underline;
          // border-bottom: solid 3px white;
        }
      }
    }
  }
  #alertspace_container {
    // display: none;
    width: 100%;
    background-color: $lightblack;
    // @include border;
    #alertspace {
      @include outer-container;
      background-color: $lightblack;
      // @include border;
      #alert_top_container{
        @include span-columns(12);
        margin-top: 10px;
        // background-color: $lightgrey;
        // text-align: left;
        // @include border;
        .formtext {
          color: white;
          font-family: Montserrat;
          font-size: 20px;
          text-align: center;
        }
        #alert_when {
          @include span-columns(2.5);
          // @include border;
          height: 60px;
          select {
            margin-top: 14px;
          }
        }
        #alert_params {
          @include span-columns(2.5);
          // @include border;
          height: 60px;
          select {
            margin-top: 14px;
          }
        }
        #alert_price {
          @include span-columns(2.5);
          // @include border;
          height: 60px;
          .price_text {
            float: right;
            width: 80px;
            height: 30px;
            margin-top: 12px;
          }
        }
        #alert_type {
          @include span-columns(2.5);
          // @include border;
          height: 60px;
          select {
            margin-top: 14px;
          }
        }
        #alert_set {
          @include span-columns(2);
          // @include border;
          height: 60px;
          text-align: center;
          .set_alert {
            background: none;
            border: solid 1px white;
            cursor: pointer;
            font-size: 18px;
            font-family: Montserrat;
            color: white;
            margin: 8px;
            padding: 8px;
            // border: $green;
          }
        }
      }
      #alert_bottom_container {
        @include span-columns(12);
        // @include border;
      }
    }
  }
}

.alert_stream {
  width: 100%;
  border-bottom: solid 4px white;
  clear: both;
  .formtexttwo {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    float: left;
    margin-top: 20px;
  } 
  .x {
    background: none;
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    // border: $green;
    float: right;
    margin-top: 9px;
    .fa-times {
      color: white;
      font-size: 20px;
    }
  }
}

// .at {
//       color: white;
//       float: right;
//       height: 35px;
//       width: 80px;
//       @include border;
//     }

#main {
  width: 100%;
  background-color: $lightblack;
  // @include border;
  .spacer {
    width: 100%;
    height: 30px;
  }
  .btc_container {
    @include outer-container;
    @include media($mobile);
    background-color: $lightblack;
    margin-bottom: 20px;
    // @include border;
    // border-top: solid 4px white;
    .btc_chart {
      @include span-columns(8);
      height: 350px; 
      // @include border; 
      @include media($mobile) {
        display: none;
      }
    }
    .btc_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      // @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
      }
      .btc_info {
        @include span-columns(12);
        height: 25px;
        // text-align: center;
        // border-bottom: solid 1px white;
      }
      #btc_bid_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #btc_bid_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_bid_color {
          @include span-columns(1);
          // @include border;
          height: 300px;
        }
        #btc_bid_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #btc_ask_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #btc_ask_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_ask_color {
          @include span-columns(1);
          // @include border;
          height: 300px;
        }
        #btc_ask_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #btc_last_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #btc_last_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #btc_last_color {
          @include span-columns(1);
          // @include border; 
          height: 300px;
        }
        #btc_last_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
  .doge_container {
    @include outer-container;
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    // @include border;
    .doge_chart {
      @include span-columns(8);
      height: 350px; 
      // @include border;
      @include media($mobile) {
        display: none;
      }
    }
    .doge_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      // @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
        text-align: center;
      }
      .doge_info {
        @include span-columns(12);
        height: 25px;
        // text-align: right;
        // border-bottom: solid 1px white;
      }
      #doge_bid_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #doge_bid_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_bid_color {
          @include span-columns(1);
          // @include border;
          height: 300px;
        }
        #doge_bid_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #doge_ask_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #doge_ask_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_ask_color {
          @include span-columns(1);
          // @include border; 
          height: 300px;
        }
        #doge_ask_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #doge_last_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #doge_last_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #doge_last_color {
          @include span-columns(1);
          // @include border; 
          height: 300px;
        }
        #doge_last_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
  .ltc_container {
    @include outer-container;
    background-color: $lightblack;
    margin-top: 20px;
    margin-bottom: 20px;
    // @include border;
    .ltc_chart {
      @include span-columns(8);
      height: 350px; 
      // @include border;
      @include media($mobile) {
        display: none;
      }
    }
    .ltc_feed {
      @include span-columns(4);
      height: 350px;
      color: white;
      // @include border;
      background-color: $darkblack;
      @include media($mobile) {
        @include span-columns(12);
      }
      .ltc_info {
        @include span-columns(12);
        height: 25px;
        // text-align: center;
        // border-bottom: solid 1px white;
      }
      #ltc_bid_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $bid;
        text-align: center;
        #ltc_bid_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_bid_color {
          @include span-columns(1);
          // @include border;
          height: 300px;
        }
        #ltc_bid_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #ltc_ask_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $ask;
        text-align: center;
        #ltc_ask_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_ask_color {
          @include span-columns(1);
          // @include border; 
          height: 300px;
        }
        #ltc_ask_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
      #ltc_last_action {
        @include span-columns(4);
        // @include border; 
        height: 325px;
        color: $last;
        text-align: center;
        #ltc_last_title {
          @include span-columns(12);
          // border-bottom: solid 1px white;
          height: 25px;
        }
        #ltc_last_color {
          @include span-columns(1);
          // @include border; 
          height: 300px;
        }
        #ltc_last_action_container {
          @include span-columns(11);
          // @include border;
          height: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }
    }
  }
}

.login_container {
  width: 100%;
  min-height: 1200px;
  background: url(../images/skyline2.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  #login_head_container {
    width: 100%; 
    background-color: white;
    #login_head {
      @include outer-container;
      // @include border; 
      height: 70px;
      .binos {
        height: 70px;
        width: 70px;
        color: white;
      }
    }
  }
  #login_outer_shell {
    @include outer-container;
    // @include media($mobile){
    //     margin: 0 auto;
    //   }
    height: 500px;
    // @include border;
    // margin: 0 auto;
    padding-top: 75px; 
    #login_info_box {
      @include span-columns(6);
      @include media($mobile){
        margin: 0 auto;
        float: none;
      }
      // @include border;
      height: 425px;
      text-align: right;
      .login_hone {
        // font-family:
        font-size: 42px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
        font-family: Montserrat;
      }
      .login_htwo {
        // font-family:
        // float: right;
        font-size: 25px;
        color: white;
        margin-top: 40px;
      }
    }
    #login_inner_shell_container {
      @include span-columns(6);
      @include media($mobile){
        float: none;
        margin: 0 auto !important;
        min-width: 330px;
      }
      // @include border;
      height: 425px;
      #login_inner_shell {

        float: left;
        width: 330px;
        // height: 485px;
        margin: 0 auto;
        padding: 35px;
        border-radius: 10px;
        background-color: $darkblack;
        // .co_name{
        // font-weight: bold;
        // font-size: 40px;
        // }
      }

    }
  }
}

#footer_container {
  width: 100%;
  background-color: $darkblack;
  @include border;
  footer {
    @include outer-container;
    min-height: 75px;
    background-color: $darkblack;
    @include border;
  }
}

.value_feed {
  display: block;
}
 .value_color_green {
    background-color: $green;
  }

.value_color_red {
  background-color: $red;
}

.formtext {
  float: left;
  color: white;
  font-family: Unica One;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

select {
  float: right;
}

.currency_title {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  margin: 5px;
}
  // <div id="login_inner_shell">
  //                   <form class="form1" >
  //                       <input class="signup" id="uname" name="uname" placeholder="Name" type=
  //                       "text">
  //                       <input class="signup" id="password" name="password" placeholder=
  //                       "Password" type="text">
  //                       <input class="signup" id="email" name="email" placeholder="Email" type=
  //                       "text">
  //                       <input type="submit" class='signUp' value="Sign Up">
  //                   </form><br>

  //                   <form class="form2" >
  //                       <input class="signin" id="rname" name="rname" placeholder="Name" type=
  //                       "text">
  //                       <input class="signin" id="rpassword" name="rpassword" placeholder=
  //                       "Password" type="text">
  //                       <input type="submit" id='signIn' value="Sign In">
  //                   </form>
  //               </div>
  //           </div>
